Flask==3.1.2 # Эта версия имеет известные уязвимости!
# Примечание: На момент написания актуальная версия Flask ~3.0.0. Версия
# 2.0.0 действительно имеет зарегистрированные уязвимости (CVE), которые
# позволят нам продемонстрировать работу пайплайна.
